.footer {
	background-color: #2ec4b6;
	padding: 28px 41px;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 50px;
}

.footer ul {
	display: flex !important;
	align-items: center;
	justify-content: space-between;
}

.footer ul li {
	list-style: none;
	text-align: center;
	cursor: pointer;
}
